.docs h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}
.docs h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
.docs h1 {
    font-size: 48px;
}
.docs h2 {
    font-size: 36px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
.docs h3 {
    font-size: 24px;
}
.docs h4 {
    font-size: 18px;
}
.docs h5 {
    font-size: 16px;
}
.docs a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.docs a:hover {
    text-decoration: none;
    color: #ff6600;
}
.docs a:visited {
    color: purple;
}
.docs ul, ol {
    padding: 0;
    margin: 0;
}
.docs li {
    line-height: 24px;
}
.docs li ul, 
.docs li ul {
    margin-left: 24px;
}
.docs p, 
.docs ul, 
.docs ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
}
.docs pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
.docs code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
.docs aside {
    display: block;
    float: right;
    width: 390px;
}
.docs blockquote {
    border-left:.5em solid #5C5C5C;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
.docs blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
.docs blockquote cite:before {
    content: '\2014 \00A0';
}
.docs blockquote p {  
    color: #666;
    max-width: 460px;
}
.docs hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

.docs h3 code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 24px;
    margin-top: 10px;
}
.docs pre {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 10px;
    border : 1px solid rgb(192,192,192);
    background-color: rgba(232,232,232,0.9);
}

.docs pre {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 10px;
    border : 1px solid rgb(192,192,192);
    background-color: rgba(232,232,232,0.9);
}
.docs code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
    padding: 4px 3px 2px 3px;
    /*margin-bottom: 10px;*/
    border : 1px solid rgb(192,192,192);
    background-color: rgba(232,232,232,0.9);
}
.docs hr {
    margin-bottom: 10px;
}
