body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}


body {
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#row-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#navbar {
  display: block;
  height: 50px;
  background: #333333;
  order: 1;
  flex: none;
}

#col-container {
  min-height: 300px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  flex: 1 1 100%;
  order: 2;
  display: flex;
  flex-flow: row;
}

#toolbar {
  width: 50px;
  order: 1;
  flex: none;
  background-color: #878785;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content : flex-end;
}

.btn {
  flex: none;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  /*border: 1px solid #333333;*/
}

#btn-fullscreen {
  order: 0;
  background-image: url('images/fullscreen-plain.png');
  background-size: contain;
}

#btn-clear {
  order: 0;
  background-image: url('images/clear.png');
  background-size: contain;
}

#btn-play {
  order: 0;
  position: relative;
  margin-bottom: 20px;
}

#btn-play-icon {
  font-size: 37px;
  color: #404040;
  position: absolute;
  top: 8px;
  left: 0px;
  /*text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67);*/
}

#code {
  flex: 1 6 40%;
  order: 2;
  overflow: scroll;
}

#code.hidden {
  flex: none;
  width: 0px;
}

#plasm {
  flex: 3 1 60%;
  order: 3;
}

#bar {
  padding-top: 16px;
  padding-left: 20px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

#title {
  float: left;
}

#links {
  float: right;
  margin-right: 8px;
}

#links ul {
  margin: 0;
  padding: 0;
}

#links li {
  display: inline;
  padding: 10px;
  font-size: 12px;
}

#links a {
  text-decoration: none;
  cursor: pointer;
}

#links li > a:link,
#links li > a:active,
#links li > a:visited,
#links li > a:hover {
  color: white;
}

#inspector {
  position: absolute;
  bottom: 26px;
  right: 4px;
  z-index: 100;
}

#copyright {}

#made {
  position: absolute;
  bottom: 2px;
  right: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #898989;
  text-shadow: 1px 0px 0 rgba(140,140,140,0.3) , 0px 0px 1px rgba(0,0,0,0.4);

}

#made > a {

}

#made > a:link,
#made > a:active,
#made > a:visited,
#made > a:hover {
  color: #898989;
}

#made > a:hover {
  cursor: pointer;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(128,128,128, 0.7);
  color: #404040;
  text-shadow: 1px 0px 0 rgba(140,140,140,0.3) , 0px 0px 1px rgba(0,0,0,0.4);
  font-size: 42px;
  padding-top: 20%;
  display: none;
  text-align: center;
  z-index: 1000;
}
