body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  opacity: .80;
  background-color: black;
  z-index: 20000;
}

#plasm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#plasm-bar {
  padding-top: 1px;
  padding-left: 7px;
}

#plasm-logo {
  cursor: default;
  text-shadow: 0 0 0px #000000;
  -webkit-transition: text-shadow 0.25s linear;
}

#plasm-logo:hover{
  text-shadow: 0 0 5px rgb(155,225,85);
  -webkit-transition: text-shadow 0.25s linear;
}


#plasm-logo h1{
  float: left;
  font-size: 30px;
  color: #efefef;
}

.plasm-alpha {
  vertical-align: super;
  font-size: 18px;
}


#loading {
  color: rgb(128,128,128);
  font-size: 26px;
  position: absolute;
  top: 58%;
  width: 100%;
  display: none;
  text-align: center;
}

footer #plasm-inspector {
  position: absolute;
  bottom: 11px;
  right: 7px;
}

#plasm-navbar {
  float: right;
  margin-top: -2px;
}

#plasm-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#plasm-navbar li {
    float: right;
    display: block;
}

#plasm-navbar a {
    float: right;
    margin-right: 20px;
    padding: 9px 7px 0px 13px;
    text-decoration: none;
    font-size: 20px;
    color: #efefef;
    cursor: pointer;
    text-shadow: 0 0 0px #000000;
    -webkit-transition: text-shadow 0.25s linear;
}

#plasm-navbar a:hover {
  text-shadow: 0 0 3px #c6c6c6;
  -webkit-transition: text-shadow 0.25s linear;
}

.plasm-container {
  position: absolute;
  z-index: 1000;
  display: none;
  overflow: scroll;
  padding: 10px;
  background-color: rgba(222,222,222,0.95);
  box-shadow: 1px 1px 8px 1px #777;
}

#plasm-container-about {
  top: 40px;
  width: 380px;
  left: 0px;
  right: 0px;
  /*line-height: 1;*/

  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}

#plasm-about-logo {
  font-size: 30px; 
  color: #efefef;
  text-shadow: 0 0 1px rgb(155,225,85);
  margin-bottom: 10px;
}

.icon-close {
  width: 16px;
  height: 16px;
  background: url(./images/close.png) no-repeat;
  background-size: 100%;
}

#plasm-about-icon-close {
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 10px;
}

#plasm-copyright {
  margin-top: 20px;
}

#plasm-container-documentation {
  top: 40px;
  right: 0px;
  width: 560px;
  bottom: 0px;
  line-height: 1;
}

#plasm-documentation-icon-close {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 100;
}

/*#plasm-container-demo {
  top: 40px;
  bottom: 40px;
  margin: 10%;
}*/

/*.plasm-sc-element {
  margin: 3px 3px 6px 3px;
  display: inline;
  cursor: pointer;
  float: left;
}*/

/*.loading {
  display: none;
}*/